---
# Front matter comment to ensure Jekyll properly reads file.
---

// Add your styles here

.row{
  border: 1px solid orange;
}

.border{
  border: 1px solid red;
}

.team-members{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body{
  color: rgba(0, 0, 0, 0.625);
}

span{
  display: inline-block;
  margin-bottom: .5rem;
}

header{
  /*width: 100%;
  height: 300px;*/
  min-height: 30vh;
  width: 100%;

  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),
  url('/img/banner.png');
  background-size: cover;
  //position: absolute;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  color: white;
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

h1{
  vertical-align: middle;
  margin: auto;
  height: 100%;
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: white;
}

#claim, #methods-wrapper, #cooperation{
  display: flex;
  align-items: center;
  justify-content: center;
}

#inspiration-quote{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#govuk-logo{
  display: inline-block;
}

h2{
  font-size: 1.25rem;
  margin: .5rem;
  color: rgba(0,0,0,0.75);
}

em{
  font-weight: 700;
  margin: .5rem;
  display: inline-block;
}

.quote-author, .quote-venue{
  margin: .5rem;
  text-align: right;
}

.quote-author::after{
  content: ',';
}

.quote-block{
  display: flex;
  flex-direction: column;
}

.quote-block em::before, .quote-block em::after{
  content: '"';
}

.column{
  padding: 0 .25rem;
}

a{
  text-decoration: none;

  transition: .25 all;

  &:hover, &:active{
    background-color: pink;
    transition: .25 all;
  }
}

.primary{
  // padding: .5rem;

  // &a

}

.primary .quote{
  font-size: 1rem;
}

.primary, .primary strong{
  color: white;
  background-color: #0951a2;
}

.primary strong{
  // text-decoration: underline;
  text-decoration-color: rgba(0,0,0,0.75);
}

#featured-methods, #references-wrapper{
  display: flex;
  margin-top: .5rem;

}

/*nav{
  position: fixed;
  top: 0;
  height: 2em;
  background-color: white;

}*/

#wrapper{
  //padding-top: 2em;
}

nav{
  padding: .5rem;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#featured-methods{
  @media (max-width: 40em){
    flex-direction: column;
  }
}

//similar to featured-methods
#references-wrapper{
  @media (max-width: 64em){
    flex-direction: column;
  }
}

.team-header{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
}

#govuk-logo{
  max-width: 7rem;
  max-height: 7rem;
}

.team-member{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.team-members, .team-members div{
  padding: 0;
}

.team-member{
  padding: .5rem;
  margin-bottom: 1rem;
  border-top: 1px dashed rgba(0, 0, 0, 0.25);
}

 .clipped{
   -webkit-clip-path: circle(50% at 50% 50%);
   clip-path: circle(50% at 50% 50%);
   width: 100%;
 }

nav{
  font-family: 'Open Sans', sans-serif;
}

$pink-color: pink;


 //navigation open-sans
 // header bud titilium web, riznejsi open sans, noto sans, maven pro
 //h2 uzky open-sans
 //

.team-header{
  width: 100%;
  align-items: center;
  margin: 1rem;
}

.icons{
  display: flex;
  //flex-direction: row;
  // flex-flow: row wrap;
  justify-content: space-around;
}

.icon{
  max-width: 3em;
  //max-height: 3em;
}

.reference-wrapper{
  flex-direction: row;
}

#input-form{
  display: flex;
  flex-direction: column;
  width: 100%;

  input, textarea{
    width: 100%;
  }

  .button{
    align-self: flex-end;
  }

}

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.method, .reference{
  margin: 0;
  padding: 0;
  text-align: center;
}

.method img{
  margin: .5rem;
}
