---
# Front matter comment to ensure Jekyll properly reads file.
---

// Add your styles here


$pink-color: pink;
$dark-color: #444;
$white-color: #eee;
$brighter-white-color: white;
$primary-color: #15a;

*{
  padding: 0;
  margin: 0;
  color: $dark-color;
}

.row{

  padding: 3rem 0;

  @media (max-width: 64em){
    padding: 1.5rem 0;
  }

  @media (max-width: 40em){
    padding: 1rem 0;
  }

  >h2{
    padding: 1rem;
  }

}

.reference{

  padding: 0 2rem;

  @media (max-width: 64em){
    padding: 0 1rem;
  }

  @media (max-width: 40em){
    padding: 0 .5rem;
  }
}


.menu{

  padding: 1rem;

  @media (max-width: 40em){
    padding: .5rem;
  }


  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
//
// body{
//   color: rgba(0, 0, 0, 0.625);
// }

span{
  display: inline-block;
}

a, strong{
  font-weight: 700;
}

header{

  min-height: 30vh;

  @media (max-width: 40em){
    min-height: 24vh;
  }

  @media (max-width: 20em){
    min-height: 18vh;
  }

  width: 100%;

  background: linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ),

  url('/img/banner.png');
  background-size: cover;
  color: white;
  text-align: center;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

h1{
  vertical-align: middle;
  margin: auto;
  height: 100%;
  font-size: 1.5rem;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  color: white;
}

#claim, #methods-wrapper, #cooperation{
  display: flex;
  align-items: center;
  justify-content: center;
}

#claim em{
  margin: .5rem;
}

#inspiration-quote{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#govuk-logo{
  display: inline-block;
}

h2{
  color: rgba(0,0,0,0.75);
}

em{
  font-weight: 700;
  display: inline-block;
}

.quote-author, .quote-venue{
  text-align: right;
}

.quote-author::after{
  content: ',';
}

.quote-block{
  display: flex;
  flex-direction: column;
}

.quote::before, .quote::after{
  content: '"';
}


a{
  text-decoration: none;
  transition: .25 all;

}


.primary .quote{
  font-size: 1rem;
  color: $white-color;
}

.primary, .primary strong, .primary span{
  color: $white-color;
  background-color: $primary-color;
}

.primary strong{
  // text-decoration: underline;
  text-decoration-color: rgba(0,0,0,0.75);
}

.primary a{
  text-decoration: none;
   border: 2px dotted $brighter-white-color;
  //  border-top: 3px dotted $white-color;
   padding: 2px;
   margin: 2px;
}

.primary strong{
  color: $brighter-white-color;
}

#featured-methods, #references-wrapper{
  display: flex;
}

#featured-methods{
  padding-top: 3rem;

  @media (max-width: 40em){
    padding-top: 1.5rem;
  }

  @media (max-width: 20em){
    padding-top: 1rem;
  }
}

#references-wrapper{
  display: flex;
  flex-direction: row;
  padding: 0 1rem;
}

#references{
  display: flex;
  flex-direction: row;

  @media (max-width: 64em){
    flex-direction: column;
  }

}

.contact-claim{
  display: flex;
  align-items: center;

  @media (max-width: 40em){
    margin-bottom: 1rem;
  }
}

.reference{
  display: flex;
  flex-direction: column;

  @media (max-width: 64em){
    flex-direction: row;
  }

  @media (max-width: 40em){
    flex-direction: column;
  }
}

.reference-header{
  display: flex;
  padding: 1rem;

@media (max-width: 64em){
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 40em){
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-width: 65em){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


}

.reference-header img{
  @media (max-width: 40em){
    width: 25%;
    height: 25%;
  }

}

.reference-author{
  @media (max-width: 40em){
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

}

.reference-content{
  display: flex;
  padding: 1rem;
  flex-shrink: 5;
  text-align: left;
@media (max-width: 64em){
    flex-direction: column;
    justify-content: center;
  }
}

#featured-methods{
  @media (max-width: 40em){
    flex-direction: column;
  }
}

//similar to featured-methods
#references-wrapper{
  @media (max-width: 64em){
    flex-direction: column;
  }
}

.team-header{
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
}

#govuk-logo{
  max-width: 7rem;
  max-height: 7rem;
}


.clipped{
   -webkit-clip-path: circle(50% at 50% 50%);
   clip-path: circle(50% at 50% 50%);
   max-width: 10rem;
   @media (max-width: 64em){
    width: 50%;
   }
 }

nav{
  font-family: 'Open Sans', sans-serif;
}

 //navigation open-sans
 // header bud titilium web, riznejsi open sans, noto sans, maven pro
 //h2 uzky open-sans
 //

#team{
  display: flex;
  flex-direction: row;
  @media (max-width: 40em){
    flex-direction: column;
  }
}

.team-members{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: 40em){
    flex-direction: column;
  }
  width: 100%;
}

.team-member{
  display: flex;
  flex-direction: column;
  @media (max-width: 40em){
    margin: 1rem;
    flex-direction: row;
  }
}


.member-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-photo{
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 40em){
    width: 33%;
  }
}

.member-photo img{
  max-width: 10rem;
  max-height: 10rem;
}

.icons{
  display: flex;
  justify-content: space-around;
}

.icons a{
  display: block;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    text-decoration: none;

    &.fa-envelope{
      color: orange;
    }

  }

}

// Hex:

// <a href="mailto:{{member.mail}}"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a>
// <a href="{{member.twitter}}"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
// <a href="{{member.linkedin}}"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i>

.fa{
  color: $dark-color;
  transition: .25s all;

  &:hover{

    &.fa-envelope{
      color: #888;
    }

    &.fa-twitter-square{
      color: #0084b4;
    }

    &.fa-linkedin-square{
      color: #007bb6;
    }

  }
}

.team-header{
  width: 100%;
  align-items: center;
}

.icon{
  max-width: 2em;
}

.reference-wrapper{
  flex-direction: row;
}

#input-form{
  display: flex;
  flex-direction: column;
  width: 100%;

  input, textarea{
    width: 100%;
  }

  textarea{
    height: 6rem;
  }

  .button{
    align-self: flex-end;
  }

}

#contact{
  display: flex;
  // flex-direction: column;
  // align-items: center;

  @media (max-width: 40em){
    flex-direction: row;
   }

}

.method, .reference{
  text-align: center;
}

.blogs, .blog-preview{
  display: flex;
  flex-direction: row;
}

.blogs{
  flex-direction: column;
}

.pagination-content{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination{
  display: flex;
  flex-direction: column;

  a{
      display: inline;
      color: orange;
  }

}

.blog-preview-bottom{
  display: flex;
  justify-content: space-between;
}

.blog-preview{
  flex-direction: column;
}
