<div id="blog" class="row column">
  <h2>Nejnovější příspěvky na našem blogu</h2>

  <div class="blogs">


  {% for post in paginator.posts %}

    {% include blog-preview.html content=post.content %}

  {%endfor%}

  </div>

  <div class="pagination">

    <div class="pagination-content">
      Strana{% if paginator.page != 1 and paginator.previous_page != 1 %}
        <a href="/blog/">1</a>..

      {%endif%}

      {% if paginator.previous_page %}
        <a href="{{paginator.previous_page_path}}">{{paginator.previous_page}}</a>
      {% endif %}

      <span>{{paginator.page}}</span>

      {% if paginator.next_page %}
        <a href="{{paginator.next_page_path}}">{{paginator.next_page}}</a>
      {% endif %}



      {% if paginator.page != paginator.total_pages and paginator.next_page != paginator.total_pages %}
        ..<a href="/blog/{{paginator.total_pages}}">{{paginator.total_pages}}</a>
      {% endif %}
    </div>

  </div>

</div>
