<div id="claim" class="row column">
  <div class="column small-12 medium-6">
    <h2>Naše vize</h2>
    <em>Pomáháme městům a obcím poskytovat lepší informační služby</em>
    <span class="bigger">Projektem Přístupnější stát chceme upozornit na problém s použitelností městských a obecních webových stránek. Začali jsme s jeho řešením.</span>
    <span>Občan potřebuje v různých životních situacích získat informace a jako na první zdroj se v dnešní době často obrací na internet. Očekává, že nalezne odpověď rychle a ve srozumitelné podobě. Bohužel, zde bývá často problém: zápasí v komplikovaném labyrintu odkazů a ne zřídka zklamaný hledá alternativu, kde získat potřebnou informaci.</span>
  </div>
  <div class="column medium-6 hide-for-small-only">
    <img src="/img/infographics.png" />
  </div>
</div>
