<div id="contact" class="primary row column">
  <div class="column small-12 medium-6">
    <span>Pokud máte zájem o námi prezentované služby, rádi se s Vámi osobně potkáme a probereme možnosti spolupráce.
    </span>
  </div>
  <div class="column small-12 medium-6">
    <input type="email" placeholder="Váš email"/>
    <textarea placeholder="Ideálně přidejte nějaké další informace o Vás pro usnadnění počáteční komunikace"></textarea>
    <button value="Odeslat zprávu">zdarec</button>
  </div>
</div>
