<form class="column small-12 large-6" id="input-form" action="https://www.formingo.co/submit/info@pristupnejsistat.cz" method="post">
  <input type="email" placeholder="Váš email (povinné pole)" required name="email" name="__replyto"/>
  <textarea required placeholder="Čeho byste rádi dosáhli? (povinné pole)" name="content"></textarea>
  <input type="hidden" name="__subject" value="Nová zpráva pro projekt Přístupnější stát">
  <!-- <input id="submit-button" onclick="javascript:submitForm();" class="button" value="Odeslat zprávu"/> -->
  <input type="hidden" name="__redirect" value="www.google.com">
  <input id="submit-button" type="submit" class="button" value="Odeslat zprávu"/>
</form>
