<form class="column small-12 large-6" id="input-form" action="https://getsimpleform.com/messages?form_api_token=b814d5dfcbb768906e1549f059bf88b4" method="post">
  <input type="text" name="name" placeholder="Vaše jméno">
  <input type="email" placeholder="Váš email (povinné pole)" required name="email" name="__replyto"/>
  <textarea required placeholder="Čeho byste rádi dosáhli? (povinné pole)" name="content"></textarea>
  <input type="hidden" name="__subject" value="Nová zpráva pro projekt Přístupnější stát">
  <input type='hidden' name='redirect_to' value='https://www.pristupnejsistat.cz/diky-za-zpravu/' />
  <input id="submit-button" type="submit" class="button" value="Odeslat zprávu"/>
</form> 
