<div id="kontakt" class="primary row column">
  <div class="column small-12 medium-6 contact-claim">
    <span>
      Pokud právě zvažujete změnu aktuálního portálu či návrh zcela nové služby občanům, neváhejte se na nás obrátit. Rádi Vám pomůžeme vytvořit kvalitní službu, která efektivně řeší daný problém.
    </span>
    <div class="direct-contact">
      <div>
        <strong>Email:</strong>
        <span><a href="mailto:info@pristupnejsistat.cz">info@pristupnejsistat.cz</a></span>
      </div>
      <div>
        <strong>Telefon:</strong>
        <span>+420 608 409 497</span>
      </div>
    </div>

  </div>
  {% include contact-form.html %}
</div>
