<div id="cooperation" class="row column primary">
  <div class="column small-12 medium-6">
    <span>
      Hledáme inspiraci v zahraničí. Například britský model v podobě <a href="www.gds.gov.uk"><strong>Government Digital Service</strong></a> poskytuje mnoho pozitivních příkladů úspěšné elektronizace služeb se zaměřením na uživatele.
    </span>
  </div>
    <div class="quote-block column medium-6 hide-for-small-only" id="inspiration-quote">

        <em class="quote">We help make digital services and information simpler, clearer and faster. We put users' needs before the nees of government.
        </em>

        <a href="www.gds.gov.uk"><img src="img/gov.uk-logo.png" id="govuk-logo"/></a>


  </div>
</div>
