<div id="methods" class="row column">

  <div id="methods-wrapper" class="column">
    <div class="column small-12 medium-6">
      <h2>Metody</h2>
      <span class="bigger">
        Naše metody vycházejí z praxe a standardů běžných v soukromém sektoru. Čerpáme znalosti z oborů jako jsou User experience nebo Service design. Pro obě disciplíny jsou na prvním místě spokojení uživatelů.
      </span>
      <span>
        Snažíme se porozumět reálným potřebám lidí, kteří konkrétní informační službu (např. webové stránky) využívají. S každou další zakázkou precizujeme svůj interní proces tak, aby co nejefektivněji vedl ke společnému cíli nás a našich zákazníků - ke spokojeným uživatelům.
      </span>
    </div>

    <div class="column medium-6 hide-for-small-only">
      <em class="quote">Focus on what the user needs, not what the government needs.</em>
        <span class="quote-author">Ben Terrett</span>
        <span class="quote-venue">Service Design Global Conference</span>
    </div>
  </div>

  <div id="featured-methods" class="column">
    <div class="method column small-12 medium-4">
      <img src="img/speed.png"/>
      <div>
        <h3>Důraz na participaci</h3>
        <span>Při realizaci projektů dbáme na účinnou a dluhodobou spolupráci všech účastněných stran.</span>
      </div>
    </div>

    <div class="method column small-12 medium-4">
      <img src="img/user.png"/>
      <div>
        <h3>Zaměření na uživatele</h3>
        <span>Služby mají odpovídat potřebám uživatelů. Jedině tak zajistíme, že jsou smysluplné, použitelné a dlouhodobě udržitelné.</span>
      </div>
    </div>

    <div class="method column small-12 medium-4">
      <img src="img/wheel.png"/>
        <div>
          <h3>Úspora času a peněz</h3>
          <span>Díky kontinuálnímu testování v různých fázích projektu dokážeme předejít mnoha omylům. Prostředky jsou vynaloženy efektivně. Cesta k cíli je nejkratší možná.</span>
        </div>
    </div>
  </div>
</div>
