<div id="methods" class="row column">

  <div id="methods-wrapper" class="column">
    <div class="column small-12 medium-6">
      <h2>Metody</h2>
      <span class="bigger">
        Naše metody vycházejí z praxe a standardů běžných v soukromém sektoru. Čerpáme znalosti z oborů jako jsou User experience nebo Service design. Pro obě disciplíny jsou na prvním místě spokojení uživatelů.
      </span>
      <span>
        Snažíme se porozumět reálným potřebám lidí, kteří konkrétní informační službu (např. webové stránky) využívají. S každou další zakázkou precizujeme svůj interní proces tak, aby co nejefektivněji vedl ke společnému cíli nás a našich zákazníků - ke spokojeným uživatelům.
      </span>
    </div>

    <div class="column medium-6 hide-for-small-only">
      <em class="quote">Focus on what the user needs, not what the government needs.</em>
        <span class="quote-author">Ben Terrett</span>
        <span class="quote-venue">Service Design Global Conference</span>
    </div>
  </div>

  <div id="featured-methods" class="column">

    {% for value in site.data.values %}

    <div class="method column small-12 medium-4">
      <img src="{{value.icon}}"/>
      <div>
        <h3>{{value.name}}</h3>
        <span>{{value.text}}</span>
      </div>
    </div>

    {% endfor %}

  </div>
</div>
