<div id="references-wrapper"  class="row column">
  <h2>Doporučení</h2>

  <div id="references">

    {% for reference in site.data.references %}

    <div class="reference">

      <div class="reference-header">
      <img src="{{reference.image}}" class="clipped"/>

          <div class="reference-author">
            <h4>{{reference.name}}</h4>
            <h5>{{reference.position1}}</h5>
            <h5>{{reference.position2}}</h5>      
          </div>
      </div>


       <div class="reference-content">
        <span class="quote">{{reference.text}}</span>
       </div>

    </div>

    {% endfor %}

  </div>
</div>
