<!--

<ul>
{% for member in site.data.members %}
  <li>
    <a href="https://github.com/{{ member.github }}">
      {{ member.name }}
    </a>
  </li>
{% endfor %}
</ul>

-->

<div id="team" class="row column">
  <h2>Kdo jsme</h2>
  <span>Jsme skupina mladých lidí a vyznáváme aktivní přístup k životu i řešení problémů. Dohromady nás dalo studium <strong><a href="www.kisk.cz">Kabinetu informačních studií a knihovnictví</a></strong>. Každý z nás je odborníkem v jiné oblasti, to nám pomáhá kreativně zlepšovat náš interní proces a přizpůsobovat se individuálním potřebám našich klientů.</span>

  <div class="team-members small-12 columns">
    <div class="team-member small-12 medium-6 large-3 columns">
      <div class="team-header">
        <img src="img/team/team-photo.png"/>
        <h3>Lucia Barthová</h3>
      </div>
      <span>Dělám projekt proto, že je super. <a href="kisk.cz">KISK je super</a>. Bardzdo díky za něj.</span>
      <div class="icons">
        <a href="mailto:lucia@pristupnejsistat.cz"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Twitter.svg"/></a>
        <a href="https://twitter.com/luciabarthova"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/2/27/Email_social_icon.svg"/></a>
        <a href="mailto:lucia@pristupnejsistat.cz"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Twitter.svg"/></a>
      </div>
    </div>
    <div class="team-member small-12 medium-6 large-3 columns">

      <div class="team-header">
        <img src="img/team/team-photo.png"/>
        <h3>Michal Létal</h3>
      </div>
      <span>Dělám projekt proto, že je super. <a href="kisk.cz">KISK je super</a>. Bardzdo díky za něj.</span>
      <div class="icons">
        <a href="mailto:lucia@pristupnejsistat.cz"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Twitter.svg"/></a>
        <a href="https://twitter.com/luciabarthova"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/2/27/Email_social_icon.svg"/></a>
        <a href="mailto:lucia@pristupnejsistat.cz"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Twitter.svg"/></a>
      </div>
    </div>
    <div class="team-member small-12 medium-6 large-3 columns">
      <div class="team-header">
        <img src="img/team/team-photo.png"/>
        <h3>Vladimír Plachý</h3>
      </div>
      <span>Dělám projekt proto, že je super. <a href="kisk.cz">KISK je super</a>. Bardzdo díky za něj.</span>
      <div class="icons">
        <a href="mailto:lucia@pristupnejsistat.cz"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Twitter.svg"/></a>
        <a href="https://twitter.com/luciabarthova"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/2/27/Email_social_icon.svg"/></a>
        <a href="mailto:lucia@pristupnejsistat.cz"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Twitter.svg"/></a>
      </div>
    </div>
    <div class="team-member small-12 medium-6 large-3 columns">
      <div class="team-header">
        <img src="img/team/team-photo.png"/>
        <h3>Erik Vaněk</h3>
      </div>
      <span>Dělám projekt proto, že je super. <a href="kisk.cz">KISK je super</a>. Bardzdo díky za něj.</span>
      <div class="icons">
        <a href="mailto:lucia@pristupnejsistat.cz"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Twitter.svg"/></a>
        <a href="https://twitter.com/luciabarthova"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/2/27/Email_social_icon.svg"/></a>
        <a href="mailto:lucia@pristupnejsistat.cz"><img class="icon" alt="Lucia Barthová" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Twitter.svg"/></a>
      </div>
    </div>
  </div>
</div>
