<div id="team" class="row column">
  <h2>Kdo jsme</h2>
  <span>Jsme skupina mladých lidí a vyznáváme aktivní přístup k životu i řešení problémů. Dohromady nás dalo studium <strong><a href="www.kisk.cz">Kabinetu informačních studií a knihovnictví</a></strong>. Každý z nás je odborníkem v jiné oblasti, to nám pomáhá kreativně zlepšovat náš interní proces a přizpůsobovat se individuálním potřebám našich klientů.</span>
  
  <div class="team-members small-12 columns">
    <div class="team-member small-12 medium-6 large-3 columns">
      <img src="img/team/lucia.png"/>
      <h3>Lucia Barthová</h3>
      ...icons...
    </div>
    <div class="team-member small-12 medium-6 large-3 columns">
      <img src="img/team/michal.png"/>
      <h3>Michal Létal</h3>
      ...icons...
    </div>
    <div class="team-member small-12 medium-6 large-3 columns">
      <img src="img/team/vlado.png"/>
      <h3>Vladimír Plachý</h3>
      ...icons...
    </div>
    <div class="team-member small-12 medium-6 large-3 columns">
      <img src="img/team/erik.png"/>
      <h3>Erik Vaněk</h3>
      ...icons...
    </div>
  </div>
</div>
