
<div id="team" class="row column">
<h2>Členové týmu</h2>

<div class="team-members">
{% for member in site.data.members %}

<div class="team-member small-12 medium-6 large-3 columns">
 <div class="member-photo">
   <img src="{{member.picture}}" class="clipped" />
 </div>

 <div class="member-info">
   <h3>{{member.name}}</h3>
   <div class="icons">
     <a href="mailto:{{member.mail}}"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
     <a href="{{member.twitter}}"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
     <a href="{{member.linkedin}}"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
   </div>
 </div>
</div>
{% endfor %}
</div>

 </div>
